@use '../../../styles/colors' as col;

.App {
    .BurgerNav {
        .burger-nav-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            backdrop-filter: blur(20px);
            box-shadow: -1px -1px 10px rgba($color: #000000, $alpha: 0.5);
            width: 100%;
            height: 100%;

            .container {
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;

                &:active {
                    border-bottom: 2px solid rgba($color: col.$white, $alpha: 0.5);
                }

                .Button {
                    width: fit-content;
                    height: 45px;
                    border-radius: 1px;
                    font-size: 13px;
                    background: none;
                    color: col.$white;

                    &:hover {
                        outline: none;
                    }
                }

                .page-index {
                    font-size: 13px;
                    color: col.$white;
                    margin-right: 10px;
                }
            }
        }
    }
}