    .BurgerNav {
        .close-btn {
            position: absolute;
            top: 20px;
            left: 20px;
            width: fit-content;
            height: fit-content;
            background: none;
            font-size: 18px;
            border: none;
            color: white;
        }
    }